{% extends 'base.html' %}

{% block heading %}
<p>Изучаю EN >>> RUS</p>
{% endblock %}

{% block word-study %}
<p>{{ word_en }}</p>
{% endblock %}


{% block content %}
<label>Транскрипция:</label>
<div class="alert alert-secondary">{{ word_tr }}</div>

<label>Комментарий:</label>
<div class="alert alert-secondary" style="height:100px">{{ word_com }}</div>
{% endblock %}


{% block check-block %}
<form id="form" action="{% url 'lesson-en' %}" method="get">

    <div class="form-group" >
        <label for="{{ form.content.id_for_label }}">Введите перевод:</label>
        {{ form.content }}

    </div>
</form>

<div class="button-block">
    <a href="{% url 'lesson-en' %}"><button type="submit" class="btn btn-primary" id="but3">Дальше</button></a>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" id="but1">Проверить</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-secondary" id="but2">Показать ответ</button>
</div>




{% block add-script %}

{% endblock %}


{% endblock %}
