{% extends 'base.html' %}

{% block heading %}
<p>Изучаю RUS >>> EN</p>
{% endblock %}

{% block word-study %}
<p>{{ word_ru }}</p>
{% endblock %}


{% block content %}

<label>Комментарий:</label>
<div class="alert alert-secondary" style="height:100px">{{ word_com }}</div>
{% endblock %}


{% block check-block %}
<form id="form" action="{% url 'lesson-rus' %}" method="get">

    <div class="form-group" >
        <label for="{{ form.content.id_for_label }}">Введите перевод:</label>
        {{ form.content }}

    </div>
</form>

<div class="button-block">
    <a href="{% url 'lesson-rus' %}"><button type="submit" class="btn btn-primary" id="but1.3">Дальше</button></a>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" id="but1.1">Проверить</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-secondary" id="but1.2">Показать ответ</button>
</div>

{% block add-script %}

{% endblock %}


{% endblock %}