body{
    background-color: #FFF;
}

.errorlist{
    color: red;
}

.heading-block{
         margin-left: auto;
         margin-right: auto;
         width: 100%;
         margin-top: 20px;
         white-space: nowrap;
         font-size: 56px;
         font-weight: bold;
         text-align:center;
}

.word-add-block{
     margin-left: auto;
     margin-right: auto;
     width: 30%;
}

.word-study{
         margin-left: auto;
         margin-right: auto;
         width: 100%;
         margin-top: 20px;
         white-space: nowrap;
         font-size: 62px;
         font-weight: bold;
         color: #006400;
         text-align:center;
}

.check-block{
     margin-left: auto;
     margin-right: auto;
     width: 30%;
     margin-top: 40px;
     white-space: nowrap;
}

.button-block{
     margin-left: auto;
     margin-right: auto;
     width: 30%;
     margin-top: 20px;
}

