body{
    background-color: #FFF;
}

.errorlist{
    color: red;
}

.heading-block{
         margin-left: auto;
         margin-right: auto;
         width: 100%;
         margin-top: 20px;
         white-space: nowrap;
         font-size: 56px;
         font-weight: bold;
         text-align:center;
}

.word-add-block{
     margin-left: auto;
     margin-right: auto;
     width: 30%;
}

.word-study{
         margin-left: auto;
         margin-right: auto;
         width: 100%;
         margin-top: 20px;
         white-space: nowrap;
         font-size: 62px;
         font-weight: bold;
         color: #006400;
         text-align:center;
}

.check-block{
     margin-left: auto;
     margin-right: auto;
     width: 30%;
     margin-top: 40px;
     white-space: nowrap;
}

.button-block{
     margin-top: 10px;
}


/* Настройка сетки grid */

/*общие настройки сетки*/
.grid-example{
    /*подключаем сетку*/
    display: grid;
    /*формируем строки и столбцы с адаптивными размерами*/
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: repeat(4, 1fr);
}

/*внешний вид ячеек*/
.grid-example > * {
    /*фоновый цвет*/
    background-color: #ffbf94;
    /*скругление углов*/
    border-radius: 5px;
    /*отступ от содержимого до края ячейки*/
    padding: 7px;
    /*расстояние от одной границы ячейки до другой*/
    margin: 1px;
}

/* Настройка сетки grid для project */
/*общие настройки сетки*/
.grid-project{
    /*подключаем сетку*/
    display: grid;
    /*формируем строки и столбца*/
    grid-template-rows: 50px repeat(20, 250px);
    grid-template-columns: repeat(5, 1fr);
    /*настройка отвечает за плотную укладку содержимого в сетке*/
    grid-auto-flow: dense;
}

/*внешний вид ячеек*/
.grid-project > * {
    /*скругление углов*/
    border-radius: 5px;
    /*расстояние от одной границы ячейки до другой*/
    margin: 1px;
}


.name {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 34px;
    font-weight: 900;

}

.email {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    /*центрирую текст внутри блока*/
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.tg {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.inst {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

/*Чтобы отделить шапку от основного контента, сделаем новую область:*/
.upper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
}

/*стили для картинок*/
img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*для заголовка раздела*/
.zag-1 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

/*Зададим области для больших фотографий и сразу выберем для них место в макете:*/
.img34{
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
}

.img23{
    grid-row-start: 10;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 4;
}

.img12-1{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 4;
}

.img12-2{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 6;
}
/*----*/